{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div>
        <p class="lead">A spelling bee is a competition in which contestants are asked to spell a broad selection of words, usually with a varying degree of difficulty. To compete, contestants must memorize the spellings of words as written in dictionaries, and recite them accordingly.</p>
        <p class="lead">The concept is thought to have originated in the United States, and spelling bee events, along with variants, are now also held in some other countries around the world. Because most languages have a more predictable spelling system than English, spelling bees are common only in countries where English is spoken</p>
        <p class="lead">This information from <a href="https://en.wikipedia.org/wiki/Spelling_bee">Wikipedia</a>.
        <br>Words used from <a href="http://www2.sharonherald.com/herald/nie/spellb/spelllist1.html">Sharonherald</a>.
        <br>More information <a href="https://spellingbee.com/">Spellingbee</a>.</p>
    </div>
{% endblock %}
