{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post" oninput='confirmation.setCustomValidity(confirmation.value != password.value ? "Passwords do not match." : "")'>
        <div class="form-group">
            <input class="form-control" name="old_password" placeholder="Old Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-info" type="submit">Change</button>
    </form>
{% endblock %}
